<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css" href="css/styles.css"></link>
    <title>Добро пожаловать</title>
</head>
<body>
    <img src="img/logo.png" />
    <div class="message" th:inline="text"><h2>Приветствуем, [[${#httpServletRequest.remoteUser}]]!</h2></div>
    <div  th:if="${#httpServletRequest.isUserInRole('ROOT')} or
                        ${#httpServletRequest.isUserInRole('MANAGER')} or
                        ${#httpServletRequest.isUserInRole('CLIENT')}">
        <div class="message">Вам доступны следующие страницы:</div>
    </div>

    <div  th:if="${#httpServletRequest.isUserInRole('ROOT')}">
        <div class="message"><a href="registerManager">Регистрация менеджера</a></div>
    </div>
    <div th:if="${#httpServletRequest.isUserInRole('MANAGER')}">
        <div class="message"><a href="registerClient">Регистрация клиента</a></div>
    </div>
    <div th:if="${#httpServletRequest.isUserInRole('CLIENT')}">
        <div class="message"><a href="routes">Маршруты</a></div>
        <div class="message"><a href="payments">Платежи</a></div>
    </div>

    <form th:action="@{/logout}" method="post">
        <div class="message"><input type="submit" value="Выход"/></div>
    </form>

</body>
</html>