<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css" href="css/styles.css"></link>
    <title>Регистрация клиента</title>
</head>
<body>
    <img src="img/logo.png" />
    <div class="message" th:inline="text"><h2>[[${#httpServletRequest.remoteUser}]], у Вас есть доступ к этой странице.</h2></div>
    <div class="message"><a href="home">Перейти к другой странице</a></div>
    <div class="message"> Эта страница доступна пользователям с ролями:</div>
    <div class="message success">MANAGER</div>
    <div class="message success">ROOT</div>

    <form th:action="@{/logout}" method="post">
        <div class="message"><input type="submit" value="Выход"/></div>
    </form>
</body>
</html>