<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>

    <link rel="stylesheet" type="text/css" href="css/styles.css"></link>
    <title>Маршруты</title>
</head>
<body>
<div class="center"><h1>Маршрут устройства</h1></div>
<div class="center around_inputs">
    <div class="inputs">
        <div class="left label">Номер устройства:</div>
        <div class="left"><input id="trackerIdInput" type="text" value="as353bk" /></div>
        <div class="left label">Количество отметок:</div>
        <div class="left"><input id="pointCountInput" type="text" value="10" /></div>
        <div class="left"><input id="getPoints" value="Показать" type="button" /></div>
        <div class="clear"></div>
    </div>

</div>
<div id="around_table" class="center">
    <table id="entityList" cellspacing="0" border="1">
        <thead>
        <tr>
            <th class="first_element">Номер</th>
            <th>Время</th>
            <th>Широта</th>
            <th>Долгота</th>
            <th>Угловая скрость</th>
            <th class="last_element">Азимут</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

    </table>


</div>
<div class="center around_inputs">
    <div class="inputs">
        <div class="left margin_rl_25"><input id="create" value="Создать" type="button" /></div>
        <div class="left margin_rl_25"><input id="edit" value="Редактировать" disabled="disabled" type="button" /></div>
        <div class="left margin_rl_25"><input id="delete" value="Удалить" disabled="disabled" type="button" /></div>
        <div class="clear"></div>
    </div>

</div>
<div id="entity_box">
    <div id="box_content">
        <div class='label'>Номер устройства:</div>
        <div><input id="idInput" type="text" /></div>
        <div class='label'>Отсечка времени: </div>
        <div><input id="timeInput" type="text" /></div>
        <div class='label'>Широта: </div>
        <div><input id="latInput" type="text" /></div>
        <div class='label'>Долгота: </div>
        <div><input id="lonInput" type="text" /></div>
        <div class='label'>Угловая скорость: </div>
        <div><input id="speedInput" type="text" /></div>
        <div class='label'>Азимут: </div>
        <div><input id="bearingInput" type="text" /></div>
    </div>
    <div id="box_footer">
        <div class="right margin_15"><input id="cancel" value="Отмена"  type="button" /></div>
        <div class="right margin_15"><input id="ok" value="OK" type="button" /></div>
        <input id="boxType" type="hidden" value=""/>
        <div class="clear"></div>
    </div>
</div>
<div id="back_shadow"></div>
<script>



</script>


</body>
</html>